/*---------------------------------TECH STACK CARD---------------------------------*/
.side-card {
    flex: 1;
    max-width: 350px;
}

.tech-stack-card {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px ;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.02);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.tech-stack-card h3 {
    font-size: 1.2rem;
    color: #000000;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

.view-all {
    font-size: 0.8rem;
    color: #777;
    text-decoration: none;
    font-weight: 500;
}

.view-all:hover {
    color: #000;
    text-decoration: underline;
}

.stack-group {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.stack-category {
    margin-bottom: 20px;
}

.stack-category h4 {
    font-size: 0.85rem;
    color: #111;
    margin-bottom: 2px;
    font-weight: 600;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.tag {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #333;
}